* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */
  background: rgb(0, 0, 0);
  /* background: radial-gradient(circle, rgba(251, 239, 63, 1) 0%, rgba(18, 119, 42, 1) 100%); */
  background: radial-gradient(circle, rgb(0 0 0) 10%, rgb(0 72 9) 100%);
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ↓ Sections of the play ground ↓ */

.table {
  height: 33vh;
}

.dealer,
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ↓ From here all about game console ↓ */

.gameConsole {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40vw;
}

.scoreDealer,
.scorePlayer,
.gameMessages {
  background-color: blanchedalmond;
  padding: 1vh 1.5vh;
  border-radius: 10px;
  margin: 1vh 1vh;
  font-size: 2vh;
  -webkit-box-shadow: 7px 5px 10px -4px rgba(97, 97, 97, 0.73);
  box-shadow: 7px 5px 10px -4px rgba(97, 97, 97, 0.73);
}

.scoreDealer {
  margin-top: -1.5vh;
}

.scorePlayer {
  margin-bottom: -1.5vh;
}

span {
  font-weight: bold;
}

button {
  padding: 1vh 1.5vh;
  cursor: pointer;
  border-width: 0vh;
  border-radius: 3vh;
  font-size: 1.5vh;
  -webkit-box-shadow: 0vh 10vh 20vh -6vh rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0vh 10vh 20vh -6vh rgba(0, 0, 0, 0.12);
  box-shadow: 1vh 1vh 1vh -1vh rgb(103 103 103 / 80%);
  color: white;
  letter-spacing: 0.3vh;
  margin: 1vh;
  text-align: center;
  transition-duration: 0.4s;
}

.hit {
  background-color: #65b59f;
}

.hit:hover {
  background-color: #1e9575;
  font-size: 1.7vh;
}

.stand {
  background-color: #103b5f;
}

.stand:hover {
  background-color: #051d30;
  font-size: 1.7vh;
}

.newGame {
  background-color: #ffa502;
}

.newGame:hover {
  background-color: #936000;
  /* font-size: 1.7vh; */
}

/* ↓ From here all about single cards design ↓ */

.card {
  background-color: blanchedalmond;
  /* ratio of card 8:5 */
  height: 24vh;
  width: 15vh;
  border-radius: 10px;
  margin: 1vh 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 7px 5px 10px -4px rgba(97, 97, 97, 0.73);
  box-shadow: 7px 5px 10px -4px rgba(97, 97, 97, 0.73);
}

.retro {
  background-image: radial-gradient(#ffa500 1vh, transparent 0vh),
    radial-gradient(#113b5f 3vh, transparent 2.4vh);
  background-size: calc(4.5 * 1.1vh) calc(4.38 * 1.1vh);
  background-position: center;
  background-color: #87ffde;
}

.number {
  align-self: flex-start;
  margin: 10%;
  font-size: 3vh;
}

.rev {
  align-self: flex-end;
  transform: rotate(180deg);
}

.cardType {
  font-size: 7vh;
}

.♥,
.♦ {
  color: red;
}

.♣,
.♠ {
  color: black;
}

.intro {
  display: flex;
  margin-top: 19vh;
}

.J {
  transform: rotate(-11deg);
  margin-top: 5vh;
  z-index: 0;
  border: 0.5px solid #d2bc8beb;
}

.A {
  transform: rotate(9deg);
  margin-top: 7vh;
  margin-left: -11vh;
  border: 0.5px solid #d2bc8beb;
}

.logo {
  font-size: 9vh;
  color: #731c1c;
}

/* Code below has been copied and modified from here: https://codepen.io/GeorgePark/pen/MrjbEr */

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.logo {
  font-family: "Exo 2", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 4rem 2.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  margin-top: 3vh;
}

.logo::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.logo::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.logo:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 1000px) {
  .card {
    height: 12vh;
    width: 7.5vh;
  }

  .number {
    margin: 10%;
    font-size: 1vh;
  }

  .buttons {
    display: flex;
  }

  .cardType {
    font-size: 2vh;
  }

  .scoreDealer {
    margin-top: -6.5vh;
  }

  .scorePlayer {
    margin-bottom: -6.5vh;
  }

  .table {
    height: 32vh;
  }
}
